node_modules
tmp*
dist*
bundle*
browser
module
www
Thumbs.db
.DS_Store
npm-debug.log*
.sass-cache
.sourcemaps
tslint.json
.editorconfig
index.js
index.d.ts
index.js.map
tsconfig.json
tsconfig.browser.json
