/_changelog
/.DS_Store
/.firedev
/.sass-cache
/.sourcemaps
/.taon
/.tnp
/.vscode/launch.json
/*.filetemplate
/*.rest
/*.sqlite
/**/.DS_Store
/**/*.filetemplate
/browser
/BUILD-INFO.md
/chrome-profiler-events*.json
/connect.lock
/coverage
/dist
/dist-nocutsrc
/docs-config.schema.json
/libpeerconnection.log
/local_release
/node_modules
/npm-debug.log
/npm-debug.log*
/package-lock.json
/speed-measure-plugin*.json
/src/app.hosts.ts
/src/assets/generated
/src/assets/shared/shared_folder_info.txt
/src/lib/env/**/*.*
/src/lib/lib-info.md
/src/migrations/migrations-info.md
/src/tests/mocha-tests-info.md
/src/vars.scss
/testem.log
/tests-environments
/Thumbs.db
/tmp*
/websql
/yarn-error.log